<div class="menu">  
    <div class="logo">
    <img src={{logo}} alt="logo" />
            </div>
            <div class="nav-bar">
                <ul>
                    <li><a href="">File</a></li>
                    <li><a href="">Edit</a></li>
                    <li><a href="">Image</a></li>
                    <li><a href="">Layer</a></li>
                    <li><a href="">Type</a></li>
                    <li><a href="">Select</a></li>
                    <li><a href="">Filter</a></li>
                    <li><a href="">View</a></li>
                </ul>
            </div>
            <div class="menu-icons">
                <img src={{min}} alt=""/>
                <!-- <a onClick={{() => this.toggleFullScreen(document.body)}} id="fullscreen"  href="#"> <img src={{max}} alt=""/></a> -->
                <a   href="#"> <img  src={{cross}} alt=""/></a>
            </div>
   
</div>